<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


  <h1>Lords and Planets</h1>
  <div>
  <a href="createLord">Create a new Lord</a>
  </div>
  <div>
  <a href="createPlanet">Create a new Planet</a>
  </div>
  <div>
    <a href="assignLordToPlanet">Assign lord to planet</a>
  </div>
  <div>
  <a href="deletePlanet">Delete planet</a>
  </div>
    <div>
  <a href="scalerLords">Slacker lords without planet</a>
    </div>
      <div>
  <a href="youngLords">Top 10 young lords</a>
      </div>

</body>
</html>